<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Employee Name</label>
      <input id="inp" type="text" class="form-control" id="formGroupExampleInput" placeholder="Employee Name">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Password</label>
      <input id="inp" type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
    </div>
  </form>
  <br/>
  <input class="btn btn-primary" type="submit" value="Submit" routerLink="/employees-list">
  <br/>
  <br/>
  <br/>
  <br/>

  <img class="bg-image" [src]="url" height= "450" width="1540" alt="Responsive image">
