
<div class="container custom-container mb--1 p--1">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create Player</h3>
      <div class="form-group">
        <input type="text" style="color: white;" [(ngModel)]="employeeDetails.name" class="form-control" style="background-color: #d40909" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.position" class="form-control" style="background-color: #b0b9bf" placeholder="Position">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.age" class="form-control" style="background-color: #000000;" placeholder="Age">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.cap" class="form-control" style="background-color: #ff7900;" placeholder="Salary Cap">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.base" class="form-control" style="background-color: #d40909;" placeholder="Base Salary">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.bonus" class="form-control" style="background-color: #b0b9bf;" placeholder="Signing Bonus">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.merchandise" class="form-control" style="background-color: #000000;" placeholder="Merchandise Sales">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.active" class="form-control" style="background-color: #ff7900;" placeholder="Active Player">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.salary_increase" class="form-control" style="background-color: #d40909;" placeholder="Increase Salary">
      </div>
      <div class="form-group">
        </div>
        <button class="btn btn-success btn-lg btn-block" (click)="addEmployee(employeeDetails)">Create Player</button>
    </div>
  </div>
  <img src="../assets/bucos.jpg" width="1520">
