<!--<p>employee-list works!</p>-->
<div class="container custom-container-2">
    <!-- Show it when there is no employee -->
    <div class="no-data text-center" *ngIf="Employee.length == 0">
      <p>There is no employee added yet!</p>
    </div>
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="Employee.length !== 0">
      <h3 class="mb-3 text-center">Roster List</h3>
      <div class="col-md-12">
        <table border="3" class="table table-bordered table-hover table-dark">
          <thead class="table-dark">
            <tr>
              <th scope="col">Player Id</th>
              <th scope="col">Age</th>
              <th scope="col">Player Name</th>
               <th scope="col">Position</th>
              <th scope="col">Player Cap Salary</th>
              <th scope="col">Player Base Salary</th>
              <th scope="col">Signing Bonus</th>
              <th scope="col">Merchandise-total</th>
              <th scope="col">Active</th>
              <th scope="col">Salary-Increase</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light" *ngFor="let employee of Employee">
              <td>{{ employee.client_id }}</td>
              <td>{{employee.client_age}}</td>
              <td>{{ employee.client_name }}</td>
              <td>{{employee.client_position}}</td>
              <td>${{ employee.client_cap_hit }}</td>
              <td>${{ employee.client_base_salary }}</td>
              <td>${{ employee.client_signing_bonus }}</td>
              <td>${{ employee.client_merchandise }}</td>
              <td>{{ employee.client_active }}</td>
              <td>{{ employee.client_salary_increase }}</td>
              <td>
                <button routerLink="/employee-edit/{{employee.client_id}}" class="button btn-success" type="button"
                  >Update</button>
                <button class="button btn-danger" (click)="deleteEmployee(employee.client_id)"
                  >Remove</button>
                  <button class="button btn-primary" (click)="tradeEmployee1(employee.client_id)"
                  >Trade
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="p-2 mb-7 bg-danger text-white text-center">
  <button  style="color: black; background-color: gold" class="btn btn-outline-primary justify-content center" routerLink="/create-employee">
    Add Player
  </button>
  </div>
  <video src="../assets/bucs2.mp4" loop autoplay [muted]="'muted'" width="1520"></video>
<!--<img src="../assets/buckos.jpeg" width="1520">-->

<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Credentials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngFor="let employee of Employee">
          <div class="mb-3">
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.age" class="form-control" placeholder="Age">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.position" class="form-control" placeholder="Position">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.cap" class="form-control" placeholder="Salary Cap">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.base" class="form-control" placeholder="Base Salary">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.bonus" class="form-control" placeholder="Signing Bonus">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.merchandise" class="form-control" placeholder="merchandise Sales">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.active" class="form-control" placeholder="Active Player">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="employeeData.salary_increase" class="form-control" placeholder="Increase Salary">
            </div>
          </div>
      <div class="form-group">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="form-group">
        <button (click)="updateEmployee1()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>-->
