<!--<p>employee-list works!</p>-->
<div class="container custom-container-2">
    <!-- Show it when there is no employee -->
    <div class="no-data text-center" *ngIf="Employee.length == 0">
      <p>There is no employee added yet!</p>
    </div>
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="Employee.length !== 0">
      <h3 class="mb-3 text-center">Players List</h3>
      <div class="col-md-12">
        <table class="table table-bordered table-hover table-dark">
          <thead class="table-dark">
            <tr>
              <th scope="col">Player Id</th>
              <th scope="col">Age</th>
              <th scope="col">Player Name</th>
               <th scope="col">Position</th>
              <th scope="col">Player Cap Salary</th>
              <th scope="col">Player Base Salary</th>
              <th scope="col">Signing Bonus</th>
              <th scope="col">Merchandise-total</th>
              <th scope="col">Active</th>
              <th scope="col">Salary-Increase</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light" *ngFor="let employee of Employee">
              <td>{{ employee.id }}</td>
              <td>{{employee.age}}</td>
              <td>{{ employee.name }}</td>
              <td>{{employee.position}}</td>
              <td>${{ employee.cap }}</td>
              <td>${{ employee.base }}</td>
              <td>${{ employee.bonus }}</td>
              <td>${{ employee.merchandise }}</td>
              <td>{{ employee.active }}</td>
              <td>{{ employee.salary_increase }}</td>
              <td>
                <button class="button btn-success" routerLink="/employee-edit/{{ employee.id }}"
                  >Edit</button>
                <button class="button btn-danger" (click)="deleteEmployee(employee.id)"
                  >Delete</button
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="p-2 mb-7 bg-danger text-white text-center">
  <button style="color: black; background-color: gold" class="btn btn-outline-primary justify-content center" routerLink="/create-employee">
    Add Player
  </button>
  </div>
<img src="../assets/buckos.jpeg" width="1520">
