
<div style="background-color: gold" class="container-md">
    <div style="margin-left: 0px; padding-bottom: 30px;"  class="col-md-12">

      <h3 class="mb-3 text-center" style="padding-top:10px;">Update Player</h3>
        <div class="form-group">
          <input type="text" [(ngModel)]="employeeData.client_id" class="form-control" placeholder="ID">
        </div>
        <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_age" class="form-control" placeholder="Age">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_position" class="form-control" placeholder="Position">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_cap_hit" class="form-control" placeholder="Salary Cap">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_base_salary" class="form-control" placeholder="Base Salary">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_signing_bonus" class="form-control" placeholder="Signing Bonus">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_merchandise" class="form-control" placeholder="merchandise Sales">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_active" class="form-control" placeholder="Active Player">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeData.client_salary_increase" class="form-control" placeholder="Increase Salary">
      </div>
      <div class="form-group">
        <button style="margin-left: 570px;" class="btn btn-danger btn-lg btn-block" (click)="updateEmployee()">Update Player</button>
      </div>

    </div>
  </div>
  <img src="../assets/bucs.jpg" width="1530">
